html {
  scroll-behavior: smooth;
}

:root {
  --font-primary: 'Lora', serif;
  --font-secondary: 'Inter', sans-serif;
  --color-primary: #D6EF0E;
  --color-secondary: #FFFFFF;
  --color-tertiary: #131E3A;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

.container {
  max-width: 1290px;
  margin: auto;
}

span {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2 {
  font-family: var(--font-primary);
}

button {
  cursor: pointer;
}

body {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  padding-block: 28px;
  align-items: center;

  nav ul {
    display: flex;
    gap: 40px;
  }

  li a {
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    color: #FFFFFD;
    opacity: 0.7;
    transition: 0.3s;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 1;
      border-bottom: 1px solid var(--color-primary);
    }
  }

  button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    width: 142px;
    height: 47px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    transition: 0.3s;
    color: var(--color-tertiary);

    &:hover {
      background-color: transparent;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
      transition: 0.3s;
    }
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-block: 92px;

  h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 120%;
  }

  .left-hero {
    width: 544px;
    padding-block: 26px;

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 160%;
      margin-block: 20px 40px;
    }

    .buttons-hero {
      display: flex;
      gap: 36px;
      align-items: center;
    }

    .buttons-hero button {
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
      width: 179px;
      height: 52px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      transition: 0.3s;
      color: var(--color-tertiary);

      &:hover {
        background-color: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        transition: 0.3s;
      }
    }

    .buttons-hero a {
      font-family: var(--font-secondary);
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      color: #FFFFFD;
      transition: 0.3s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid var(--color-primary);
      }
    }

    ul {
      margin-top: 72px;
      display: flex;
      gap: 94px;

      li {
        display: flex;
        flex-direction: column-reverse;
        gap: 8px;
        font-size: 16px;
        font-weight: 300;
        line-height: 160%;
        border-right: 1px solid var(--color-secondary);
        padding-right: 28px;
        justify-content: space-between;
        height: 96px;

        &:last-child {
          border: none;
        }

        b {
          font-family: var(--font-primary);
          font-size: 64px;
          font-weight: 500;
          line-height: 120%;
        }
      }
    }
  }

  .right-hero {
    width: 575px;
    position: relative;

    .hero-image {
      position: absolute;
      top: 0;
      right: 10%;
      z-index: -1;
    }

    .watermark {
      position: absolute;
      top: 35%;
      left: -5px;
      z-index: 1;
    }

    .modal {
      width: 264px;
      height: 129px;
      border-radius: 8px;
      border-top: 1px solid var(--color-primary);
      background-color: var(--color-tertiary);
      position: absolute;
      bottom: -13%;
      right: -26%;
      z-index: 1;
      transform: translate(-50%, -50%);
      padding: 20px;
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: space-between;

      ul {
        display: flex;
        justify-content: space-between;
      }

      li {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 16px;
        font-weight: 700;
        line-height: 160%;
      }

      [data-id="main-hours"],
      [data-id="main-minutes"],
      [data-id="main-seconds"] {
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 700;
        line-height: 160%;
        color: var(--color-secondary);
      }

      li span {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        font-family: var(--font-secondary);
      }

      button {
        background-color: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        width: 100%;
        height: 52px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        transition: 0.3s;

        &:hover {
          background-color: var(--color-primary);
          border: 1px solid var(--color-primary);
          color: var(--color-tertiary);
          transition: 0.3s;
        }
      }
    }
  }
}

.marketplace {
  margin-block: 92px;
  padding-block: 92px;

  .title-marketplace {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
  }

  button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    width: 134px;
    height: 51px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-tertiary);
    transition: 0.3s;

    &:hover {
      background-color: transparent;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
      transition: 0.3s;
    }
  }

  .cards {
    margin-top: 64px;

    ul {
      display: flex;
      gap: 30px;
      justify-content: space-between;
    }

    li {
      width: 410px;
      height: 498px;
      background-color: var(--color-tertiary);
      border-radius: 8px;
      border-top: 1px solid var(--color-primary);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px;

      .card-image {
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          transition: 0.3s;
        }
      }

    }

    .card-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .card-title {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
      }

      .counter-card {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 85px;
      }

      .counter-display-wrapper {
        display: flex;
        align-items: center;
        gap: 2px;
      }

      .counter-value {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 1;
        font-family: var(--font-secondary);
      }

      .currency-unit {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 1;
        font-family: var(--font-secondary);
      }

      .counter-controls {
        display: flex;
        flex-direction: column;
      }

      .arrow-button {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 0;
        line-height: 0;
        transition: color 0.2s ease, transform 0.2s ease;
        width: unset;
        height: unset;
      }

      .arrow-button:hover {
        transform: scale(1.5);
      }
    }

    .card-timer {
      display: flex;
      justify-content: space-between;

      .timer-container {
        display: flex;
        gap: 14px;
        align-items: center;
      }

      button {
        background-color: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        width: 168px;
        height: 48px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        transition: 0.3s;

        &:hover {
          background-color: var(--color-primary);
          border: 1px solid var(--color-primary);
          color: var(--color-tertiary);
          transition: 0.3s;
        }
      }

      .hours,
      .minutes,
      .seconds {
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        color: var(--color-secondary);
      }

      .ending {
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        color: #838382;
      }
    }
  }
}

.creation {
  margin-block: 92px;
  padding-block: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-creation {
    width: 426px;

    h2 {
      font-size: 48px;
      font-weight: 500;
      line-height: 120%;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 160%;
      margin-block: 20px 40px;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 36px;
    }

    .buttons button {
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
      width: 176px;
      height: 52px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      transition: 0.3s;
      color: var(--color-tertiary);

      &:hover {
        background-color: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        transition: 0.3s;
      }
    }

    .buttons a {
      font-family: var(--font-secondary);
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      color: #FFFFFD;
      transition: 0.3s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid var(--color-primary);
      }
    }
  }

  .right-creation {
    position: relative;
    width: 740px;
    height: 559px;
  }

  .creation-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .creation-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.artists {
  margin-block: 92px;
  padding-block: 92px;

  .title-artists {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 48px;
      font-weight: 500;
      line-height: 120%;
    }

    button {
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
      width: 134px;
      height: 52px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 700;
      line-height: 120%;
      color: var(--color-tertiary);
      transition: 0.3s;

      &:hover {
        background-color: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        transition: 0.3s;
      }
    }
  }

  ul {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(2, 1fr);
    gap: 30px;

    .artists-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    div {
      display: flex;
      gap: 30px;
    }
  }

  img {
    display: block;
  }

  li {
    position: relative;
    height: 311px;
    border-radius: 8px;
    background: #131E3A;
    background: linear-gradient(0deg, rgba(19, 30, 58, 1) 0%, rgba(19, 30, 58, 0) 92%);
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background: transparent;
      transform: scale(1.05);
    }

    img:first-child {
      position: relative;
      z-index: -1;
    }

    img:nth-child(2) {
      position: absolute;
      bottom: 24px;
      left: 24px;
      z-index: 1;
    }

    span {
      font-family: var(--font-secondary);
      font-size: 14px;
      font-weight: 300;
      line-height: 160%;
      color: var(--color-secondary);
      position: absolute;
      bottom: 48.5px;
      left: 84px;
      z-index: 1;
    }

    b {
      font-size: 16px;
      line-height: 120%;
      position: absolute;
      bottom: 25.5px;
      left: 84px;
      z-index: 1;
    }
  }

  .artists-list-big {
    position: relative;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(19, 30, 58, 1) 0%, rgba(19, 30, 58, 0) 92%);
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: 0.3s;
    }

    img:first-child {
      position: relative;
      z-index: -1;
    }

    img:nth-child(2) {
      position: absolute;
      bottom: 24px;
      left: 24px;
      z-index: 1;
    }

    span {
      font-family: var(--font-secondary);
      font-size: 14px;
      font-weight: 300;
      line-height: 160%;
      color: var(--color-secondary);
      position: absolute;
      bottom: 48.5px;
      left: 84px;
      z-index: 1;
    }

    b {
      font-size: 16px;
      line-height: 120%;
      position: absolute;
      bottom: 25.5px;
      left: 84px;
      z-index: 1;
    }
  }
}